.scroll-bar .increment-button,
.scroll-bar .decrement-button{
	-fx-background-color: transparent;
	-fx-pref-height: 0;
		-fx-border-color: transparent;
		-fx-outline-color: transparent;

}
.scroll-bar .increment-button .increment-arrow,
.scroll-bar .decrement-button .decrement-arrow{
	-fx-padding: 0 0 0 0;

}
.scroll-bar .track {
	-fx-background-color: #000000;
	-fx-background-radius: 5px;
}
.scroll-bar .thumb {
	-fx-background-color: #FFAC35;
}
